<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang/MTT.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,714},{198,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{198,54}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/MTT_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,388},{210,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{210,64}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/SNG.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,658},{198,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{198,54}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/SNG_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,632},{210,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{210,64}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/choose_game_allin_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,400},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_allin_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,558},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_amaha_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,358},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_amaha_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,506},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_texas_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,316},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_texas_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,454},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_title_omaha.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,632},{202,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,6},{202,74}}</string>
                <key>sourceSize</key>
                <string>{332,86}</string>
            </dict>
            <key>lang/choose_game_title_redblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,124},{269,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,64}}</string>
                <key>sourceSize</key>
                <string>{269,64}</string>
            </dict>
            <key>lang/choose_game_title_texas.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,240},{172,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{172,74}}</string>
                <key>sourceSize</key>
                <string>{332,86}</string>
            </dict>
            <key>lang/dear.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,883},{86,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{86,73}</string>
            </dict>
            <key>lang/first_pay_price_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,748},{177,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,42}}</string>
                <key>sourceSize</key>
                <string>{177,42}</string>
            </dict>
            <key>lang/hall_activity_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,860},{68,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,21}}</string>
                <key>sourceSize</key>
                <string>{74,25}</string>
            </dict>
            <key>lang/hall_bind_account_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,610},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>lang/hall_choose_room_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,632},{226,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{226,62}}</string>
                <key>sourceSize</key>
                <string>{268,90}</string>
            </dict>
            <key>lang/hall_first_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,921},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>lang/hall_free_chip_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,719},{122,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,23}}</string>
                <key>sourceSize</key>
                <string>{122,25}</string>
            </dict>
            <key>lang/hall_invite_friend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,899},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>lang/hall_luckturn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,316},{112,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{112,19}}</string>
                <key>sourceSize</key>
                <string>{114,25}</string>
            </dict>
            <key>lang/hall_match_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,639},{242,62}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{242,62}}</string>
                <key>sourceSize</key>
                <string>{268,90}</string>
            </dict>
            <key>lang/hall_more_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,554},{182,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{182,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_omaha_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,490},{118,46}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{118,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_play_now_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,602},{188,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{188,38}}</string>
                <key>sourceSize</key>
                <string>{202,64}</string>
            </dict>
            <key>lang/hall_private_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,610},{210,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{210,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_quick_play_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{228,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,37}}</string>
                <key>sourceSize</key>
                <string>{228,37}</string>
            </dict>
            <key>lang/hall_ranking_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,744},{117,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,43}}</string>
                <key>sourceSize</key>
                <string>{117,43}</string>
            </dict>
            <key>lang/hall_redblack_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,192},{130,46}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{130,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_texas_must_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,316},{100,46}}</string>
                <key>offset</key>
                <string>{-55,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{100,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_texas_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,442},{198,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{198,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_tutorial_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,869},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>lang/login_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{584,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,85}}</string>
                <key>sourceSize</key>
                <string>{584,85}</string>
            </dict>
            <key>lang/omaha_hall_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{316,81}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{316,81}}</string>
                <key>sourceSize</key>
                <string>{316,91}</string>
            </dict>
            <key>lang/pop_title_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,552},{218,78}}</string>
                <key>offset</key>
                <string>{-126,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{218,78}}</string>
                <key>sourceSize</key>
                <string>{470,96}</string>
            </dict>
            <key>lang/pop_title_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,639},{254,88}}</string>
                <key>offset</key>
                <string>{-108,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{254,88}}</string>
                <key>sourceSize</key>
                <string>{470,96}</string>
            </dict>
            <key>lang/pop_title_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,639},{228,92}}</string>
                <key>offset</key>
                <string>{-121,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,92}}</string>
                <key>sourceSize</key>
                <string>{470,96}</string>
            </dict>
            <key>lang/pop_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{280,86}}</string>
                <key>offset</key>
                <string>{-95,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,86}}</string>
                <key>sourceSize</key>
                <string>{470,96}</string>
            </dict>
            <key>lang/pop_title_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,895},{228,74}}</string>
                <key>offset</key>
                <string>{-121,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{228,74}}</string>
                <key>sourceSize</key>
                <string>{470,96}</string>
            </dict>
            <key>lang/pop_title_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,365},{218,82}}</string>
                <key>offset</key>
                <string>{-126,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{218,82}}</string>
                <key>sourceSize</key>
                <string>{470,96}</string>
            </dict>
            <key>lang/pop_title_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{384,80}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{384,80}}</string>
                <key>sourceSize</key>
                <string>{470,96}</string>
            </dict>
            <key>lang/pri_create_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,300},{250,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{250,36}}</string>
                <key>sourceSize</key>
                <string>{296,50}</string>
            </dict>
            <key>lang/pri_create_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,190},{262,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{262,48}}</string>
                <key>sourceSize</key>
                <string>{296,50}</string>
            </dict>
            <key>lang/pri_list_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,84},{284,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{284,38}}</string>
                <key>sourceSize</key>
                <string>{296,50}</string>
            </dict>
            <key>lang/pri_list_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{296,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,50}}</string>
                <key>sourceSize</key>
                <string>{296,50}</string>
            </dict>
            <key>lang/pri_record_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,338},{238,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{238,48}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/pri_record_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,240},{252,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,58}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/redblack_hall_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,878},{80,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{80,19}}</string>
                <key>sourceSize</key>
                <string>{136,25}</string>
            </dict>
            <key>lang/redblack_hand_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,948},{108,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{108,18}}</string>
                <key>sourceSize</key>
                <string>{158,28}</string>
            </dict>
            <key>lang/redblack_hand_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,878},{68,25}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{68,25}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,789},{108,33}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{108,33}}</string>
                <key>sourceSize</key>
                <string>{158,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,824},{52,25}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{52,25}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,844},{175,33}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{175,33}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{42,23}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{42,23}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>lang/redblack_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,449},{216,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,101}}</string>
                <key>sourceSize</key>
                <string>{216,101}</string>
            </dict>
            <key>lang/redblack_title_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,294},{66,31}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,13},{66,31}}</string>
                <key>sourceSize</key>
                <string>{138,85}</string>
            </dict>
            <key>lang/redblack_title_gold_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,905},{76,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{76,30}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>lang/redblack_title_gold_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,921},{132,37}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{132,37}}</string>
                <key>sourceSize</key>
                <string>{134,85}</string>
            </dict>
            <key>lang/redblack_title_silver_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,262},{90,30}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{90,30}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>lang/redblack_title_silver_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,844},{132,37}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{132,37}}</string>
                <key>sourceSize</key>
                <string>{134,85}</string>
            </dict>
            <key>lang/redblack_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{291,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,101}}</string>
                <key>sourceSize</key>
                <string>{291,101}</string>
            </dict>
            <key>lang/redblack_win_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,430},{142,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{142,20}}</string>
                <key>sourceSize</key>
                <string>{176,28}</string>
            </dict>
            <key>lang/redblack_win_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,891},{128,55}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{128,55}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,940},{68,25}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{68,25}}</string>
                <key>sourceSize</key>
                <string>{76,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,648},{106,69}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{106,69}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,430},{140,25}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{140,25}}</string>
                <key>sourceSize</key>
                <string>{142,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,770},{177,75}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{177,75}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/register_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{399,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,47}}</string>
                <key>sourceSize</key>
                <string>{399,47}</string>
            </dict>
            <key>lang/reward_dialog_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,96}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{592,96}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>lang/room_allIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,138},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,891},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,824},{106,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_first_pay_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{469,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,7},{469,52}}</string>
                <key>sourceSize</key>
                <string>{597,66}</string>
            </dict>
            <key>lang/room_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,883},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,84},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_sitdown_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,883},{72,76}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lang/slot_help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{576,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,73}}</string>
                <key>sourceSize</key>
                <string>{576,73}</string>
            </dict>
            <key>lang/texas_hall_intermediate_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,792},{170,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{170,50}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>lang/texas_hall_intermediate_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,490},{182,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>lang/texas_hall_primary_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,847},{174,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{174,42}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>lang/texas_hall_primary_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,642},{186,52}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,52}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>lang/texas_hall_senior_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,879},{166,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{166,40}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>lang/texas_hall_senior_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,696},{178,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{178,50}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang_texture.png</string>
            <key>size</key>
            <string>{1021,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7be0419c677581bd049e1be589926d14$</string>
            <key>textureFileName</key>
            <string>lang_texture.png</string>
        </dict>
    </dict>
</plist>
