<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang/MTT.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,202},{362,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{362,58}}</string>
                <key>sourceSize</key>
                <string>{374,70}</string>
            </dict>
            <key>lang/MTT_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,56},{374,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{374,68}}</string>
                <key>sourceSize</key>
                <string>{374,70}</string>
            </dict>
            <key>lang/SNG.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,793},{252,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{252,54}}</string>
                <key>sourceSize</key>
                <string>{374,70}</string>
            </dict>
            <key>lang/SNG_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,564},{264,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{264,64}}</string>
                <key>sourceSize</key>
                <string>{374,70}</string>
            </dict>
            <key>lang/Texas Hold'em.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,345},{338,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,57}}</string>
                <key>sourceSize</key>
                <string>{338,57}</string>
            </dict>
            <key>lang/choose_game_allin_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,891},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_allin_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,553},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_amaha_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,849},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_amaha_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,501},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_texas_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,785},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_texas_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,362},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_title_omaha.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,652},{202,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,6},{202,74}}</string>
                <key>sourceSize</key>
                <string>{332,86}</string>
            </dict>
            <key>lang/choose_game_title_redblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,835},{163,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,55}}</string>
                <key>sourceSize</key>
                <string>{163,55}</string>
            </dict>
            <key>lang/choose_game_title_texas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{172,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,6},{172,74}}</string>
                <key>sourceSize</key>
                <string>{332,86}</string>
            </dict>
            <key>lang/dear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,652},{86,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{86,73}</string>
            </dict>
            <key>lang/first_pay_price_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,817},{177,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,42}}</string>
                <key>sourceSize</key>
                <string>{177,42}</string>
            </dict>
            <key>lang/hall_activity_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,594},{86,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,19}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>lang/hall_bind_account_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,414},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>lang/hall_choose_room_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,294},{226,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{226,66}}</string>
                <key>sourceSize</key>
                <string>{268,90}</string>
            </dict>
            <key>lang/hall_first_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,785},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>lang/hall_free_chip_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,958},{125,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,23}}</string>
                <key>sourceSize</key>
                <string>{127,25}</string>
            </dict>
            <key>lang/hall_invite_friend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,860},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>lang/hall_luckturn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,740},{112,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{112,19}}</string>
                <key>sourceSize</key>
                <string>{114,25}</string>
            </dict>
            <key>lang/hall_match_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,222},{214,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{214,70}}</string>
                <key>sourceSize</key>
                <string>{268,90}</string>
            </dict>
            <key>lang/hall_more_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,817},{182,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{182,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_omaha_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,910},{118,46}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{118,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_play_now_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,124},{184,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{184,48}}</string>
                <key>sourceSize</key>
                <string>{202,64}</string>
            </dict>
            <key>lang/hall_private_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,174},{210,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{210,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_quick_play_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,605},{211,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,45}}</string>
                <key>sourceSize</key>
                <string>{211,45}</string>
            </dict>
            <key>lang/hall_ranking_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,501},{117,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,43}}</string>
                <key>sourceSize</key>
                <string>{117,43}</string>
            </dict>
            <key>lang/hall_redblack_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,911},{130,46}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{130,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_texas_must_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,620},{100,46}}</string>
                <key>offset</key>
                <string>{-55,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{100,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_texas_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,817},{198,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{198,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_tutorial_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,983},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>lang/login_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,187},{587,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,86}}</string>
                <key>sourceSize</key>
                <string>{587,86}</string>
            </dict>
            <key>lang/omaha_hall_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,262},{316,81}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{316,81}}</string>
                <key>sourceSize</key>
                <string>{316,91}</string>
            </dict>
            <key>lang/pop_title_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,563},{270,78}}</string>
                <key>offset</key>
                <string>{-55,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{270,78}}</string>
                <key>sourceSize</key>
                <string>{390,96}</string>
            </dict>
            <key>lang/pop_title_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,539},{276,90}}</string>
                <key>offset</key>
                <string>{-52,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{276,90}}</string>
                <key>sourceSize</key>
                <string>{390,96}</string>
            </dict>
            <key>lang/pop_title_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,563},{252,88}}</string>
                <key>offset</key>
                <string>{-63,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{252,88}}</string>
                <key>sourceSize</key>
                <string>{390,96}</string>
            </dict>
            <key>lang/pop_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,630},{232,86}}</string>
                <key>offset</key>
                <string>{-75,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{232,86}}</string>
                <key>sourceSize</key>
                <string>{390,96}</string>
            </dict>
            <key>lang/pop_title_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,488},{284,74}}</string>
                <key>offset</key>
                <string>{-48,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{284,74}}</string>
                <key>sourceSize</key>
                <string>{390,96}</string>
            </dict>
            <key>lang/pop_title_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,404},{286,82}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{286,82}}</string>
                <key>sourceSize</key>
                <string>{390,96}</string>
            </dict>
            <key>lang/pop_title_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,187},{374,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{374,80}}</string>
                <key>sourceSize</key>
                <string>{390,96}</string>
            </dict>
            <key>lang/pri_create_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,56},{188,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{188,66}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>lang/pri_create_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,776},{200,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,78}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>lang/pri_list_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,126},{364,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{364,74}}</string>
                <key>sourceSize</key>
                <string>{380,84}</string>
            </dict>
            <key>lang/pri_list_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,187},{374,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{374,84}}</string>
                <key>sourceSize</key>
                <string>{380,84}</string>
            </dict>
            <key>lang/pri_record_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,539},{238,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{238,48}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/pri_record_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,414},{252,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,58}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/redblack_hall_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,262},{80,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{80,19}}</string>
                <key>sourceSize</key>
                <string>{136,25}</string>
            </dict>
            <key>lang/redblack_hand_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,849},{172,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{172,22}}</string>
                <key>sourceSize</key>
                <string>{180,28}</string>
            </dict>
            <key>lang/redblack_hand_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,710},{74,25}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{74,25}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,482},{110,25}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,33},{110,25}}</string>
                <key>sourceSize</key>
                <string>{158,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,933},{88,29}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{88,29}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,474},{221,25}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{221,25}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,779},{41,23}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,34},{41,23}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/redblack_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,187},{350,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,145}}</string>
                <key>sourceSize</key>
                <string>{350,145}</string>
            </dict>
            <key>lang/redblack_title_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,722},{136,37}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{136,37}}</string>
                <key>sourceSize</key>
                <string>{140,85}</string>
            </dict>
            <key>lang/redblack_title_gold_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,945},{76,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{76,30}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>lang/redblack_title_gold_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,959},{126,31}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{126,31}}</string>
                <key>sourceSize</key>
                <string>{140,85}</string>
            </dict>
            <key>lang/redblack_title_silver_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,983},{90,30}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{90,30}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>lang/redblack_title_silver_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,992},{126,29}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{126,29}}</string>
                <key>sourceSize</key>
                <string>{140,85}</string>
            </dict>
            <key>lang/redblack_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,187},{521,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,144}}</string>
                <key>sourceSize</key>
                <string>{521,144}</string>
            </dict>
            <key>lang/redblack_win_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,817},{170,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{170,22}}</string>
                <key>sourceSize</key>
                <string>{180,28}</string>
            </dict>
            <key>lang/redblack_win_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,856},{124,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{124,53}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,977},{150,27}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{150,27}}</string>
                <key>sourceSize</key>
                <string>{158,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,710},{114,73}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{114,73}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,996},{47,25}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,32},{47,25}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,718},{223,73}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{223,73}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/register_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{643,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,41}}</string>
                <key>sourceSize</key>
                <string>{643,41}</string>
            </dict>
            <key>lang/reward_dialog_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{592,96}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{592,96}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>lang/room_allIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,856},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,776},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,740},{106,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_first_pay_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{469,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,7},{469,52}}</string>
                <key>sourceSize</key>
                <string>{597,66}</string>
            </dict>
            <key>lang/room_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,901},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_sitdown_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,849},{94,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{94,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lang/slot_help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,85}}</string>
                <key>sourceSize</key>
                <string>{604,85}</string>
            </dict>
            <key>lang/texas_hall_intermediate_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,835},{186,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{186,46}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_intermediate_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,817},{198,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{198,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_primary_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,933},{174,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{174,42}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_primary_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,835},{186,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{186,48}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_senior_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,817},{194,40}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{194,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_senior_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,728},{206,46}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{206,46}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang_texture.png</string>
            <key>size</key>
            <string>{1174,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bd60144afb1cf8342e9b55ba8e605c1$</string>
            <key>textureFileName</key>
            <string>lang_texture.png</string>
        </dict>
    </dict>
</plist>
