<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>holiday_shake_btn_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,244},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>holiday_shake_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,240},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>holiday_shake_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,172},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>holiday_shake_friend_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,240},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>holiday_shake_friend_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,172},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>holiday_shake_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{147,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,122}}</string>
                <key>sourceSize</key>
                <string>{147,122}</string>
            </dict>
            <key>holiday_shake_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,372},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>holiday_shake_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,336},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>holiday_shake_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,168}}</string>
                <key>sourceSize</key>
                <string>{347,168}</string>
            </dict>
            <key>holiday_shake_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>holiday_shake_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>holiday_shake_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,452},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>holiday_shake_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,202},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>holiday_shake_item_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,270},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>holiday_shake_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>holiday_shake_ranking_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,126},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>holiday_shake_ranking_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,270},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>holiday_shake_ranking_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,172},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>holiday_shake_record_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,312},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>holiday_shake_record_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,306},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>holiday_shake_reward_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,126},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>holiday_shake_reward_tips_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,174},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>holiday_shake_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,452},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>holiday_shake_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,452},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act_holiday_shake_texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7afe53a547efd945db4d61087a9276f8$</string>
            <key>textureFileName</key>
            <string>act_holiday_shake_texture.png</string>
        </dict>
    </dict>
</plist>
