<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonroom/battery_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,495},{6,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,8}</string>
			</dict>
			<key>commonroom/battery_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{36,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,18}</string>
			</dict>
			<key>commonroom/signal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,505},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>commonroom/signal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,487},{6,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,10}</string>
			</dict>
			<key>commonroom/signal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,496},{6,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,14}</string>
			</dict>
			<key>commonroom/signal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,500},{6,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,18}</string>
			</dict>
			<key>commonroom/wifi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,507},{4,4}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,23}</string>
			</dict>
			<key>commonroom/wifi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,487},{14,7}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,23}</string>
			</dict>
			<key>commonroom/wifi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,500},{22,9}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,23}</string>
			</dict>
			<key>commonroom/wifi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,487},{32,11}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,23}</string>
			</dict>
			<key>commonroom/invite_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,225},{53,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/invite_menu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1},{70,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/invite_seat.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,435},{79,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,75}</string>
			</dict>
			<key>commonroom/invite_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,133},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/invite_table_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,133},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/card.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,1},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/card_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/card_rate_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,93},{80,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>
			<key>commonroom/change.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,280},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/change_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,131},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,277},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/chat_bubble1.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,427},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>commonroom/chat_bubble2.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,423},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>commonroom/chat_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,414},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,369},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/menu_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,372},{49,46}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1},{65,64}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,435},{50,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,130}</string>
			</dict>
			<key>commonroom/menu_bg_coner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{280,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,184}</string>
			</dict>
			<key>commonroom/menu_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,372},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_change_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,332},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,223},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/menu_down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1},{130,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,98}</string>
			</dict>
			<key>commonroom/menu_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,225},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_info_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,73},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_line_dv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,507},{20,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,2}</string>
			</dict>
			<key>commonroom/menu_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,225},{52,54}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_record_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,261},{68,69}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,225},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/menu_set_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,169},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commonroom/stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,93},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/stand_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,1},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>commonroom/vip_chat_bubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,315},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>commonroom/vip_chat_bubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,391},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>commonroom/vip_chat_bubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,185},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>commonroom/vip_chat_bubble_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,93},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>commonroom/vip_exp_price_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,93},{34,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,28}</string>
			</dict>
			<key>commonroom/vip_mark_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,93},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>commonroom/play_crad_act_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,283},{142,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,140}</string>
			</dict>
			<key>commonroom/play_crad_act_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,283},{150,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>commonroom_texture.png</string>
			<key>realTextureFileName</key>
			<string>commonroom_texture.png</string>
			<key>size</key>
			<string>{699,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>699</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>