<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer1/room_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,94},{156,166}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{156,166}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{36,12}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{36,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{36,12}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{36,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{20,12}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,88},{20,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{20,12}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,88},{20,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_single_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{18,12}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,68},{18,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_single_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{18,12}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,68},{18,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_tap_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,46},{50,28}}</string>
                <key>offset</key>
                <string>{10,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,169},{50,28}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_tap_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,46},{52,30}}</string>
                <key>offset</key>
                <string>{9,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,172},{52,30}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer1/room_dealer_tap_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,18},{60,22}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,179},{60,22}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,262},{150,184}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{150,184}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,18},{36,16}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{36,16}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,18},{36,16}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{36,16}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{26,12}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,85},{26,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{26,12}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,85},{26,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_single_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,18},{16,16}}</string>
                <key>offset</key>
                <string>{19,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,64},{16,16}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_single_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,18},{16,16}}</string>
                <key>offset</key>
                <string>{19,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,64},{16,16}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_tap_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,46},{46,42}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,160},{46,42}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_tap_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,46},{46,42}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,160},{46,42}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer2/room_dealer_tap_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,46},{46,42}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,160},{46,42}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{156,168}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{156,168}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,18},{40,14}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,62},{40,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,18},{42,14}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{42,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{22,12}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{22,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,18},{22,14}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{22,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_single_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,18},{22,14}}</string>
                <key>offset</key>
                <string>{12,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,62},{22,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_single_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,18},{20,14}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,62},{20,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_tap_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{46,28}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,169},{46,28}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_tap_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,46},{48,30}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,172},{48,30}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer3/room_dealer_tap_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,18},{56,24}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,177},{56,24}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,262},{156,202}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{156,202}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{36,12}}</string>
                <key>offset</key>
                <string>{10,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,48},{36,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{36,12}}</string>
                <key>offset</key>
                <string>{10,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,48},{36,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{22,14}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{22,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{22,14}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{22,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_single_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{20,12}}</string>
                <key>offset</key>
                <string>{18,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,48},{20,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_single_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{20,12}}</string>
                <key>offset</key>
                <string>{18,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,48},{20,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_tap_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,46},{96,38}}</string>
                <key>offset</key>
                <string>{-21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,151},{96,38}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_tap_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,46},{96,46}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,155},{96,46}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer4/room_dealer_tap_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,94},{92,64}}</string>
                <key>offset</key>
                <string>{-24,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,149},{92,64}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,262},{160,174}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{160,174}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{34,12}}</string>
                <key>offset</key>
                <string>{7,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,51},{34,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,12}}</string>
                <key>offset</key>
                <string>{7,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,51},{34,12}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,18},{24,14}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,70},{24,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,18},{24,14}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,70},{24,14}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_single_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{14,10}}</string>
                <key>offset</key>
                <string>{17,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,53},{14,10}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_single_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{14,10}}</string>
                <key>offset</key>
                <string>{17,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,53},{14,10}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_tap_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,46},{100,46}}</string>
                <key>offset</key>
                <string>{-24,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,153},{100,46}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_tap_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{104,54}}</string>
                <key>offset</key>
                <string>{-23,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,153},{104,54}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer5/room_dealer_tap_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,94},{108,56}}</string>
                <key>offset</key>
                <string>{-21,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,154},{108,56}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>dealer6/room_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,94},{126,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,164}}</string>
                <key>sourceSize</key>
                <string>{126,164}</string>
            </dict>
            <key>dealer6/room_dealer_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{36,12}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{36,12}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{36,12}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{36,12}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,8}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{18,8}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{18,8}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{18,8}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_single_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{14,12}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{14,12}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_single_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{14,12}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{14,12}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_tap_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,18},{54,22}}</string>
                <key>offset</key>
                <string>{10,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,144},{54,22}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_tap_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,18},{48,26}}</string>
                <key>offset</key>
                <string>{14,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,146},{48,26}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
            <key>dealer6/room_dealer_tap_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,18},{50,26}}</string>
                <key>offset</key>
                <string>{12,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,141},{50,26}}</string>
                <key>sourceSize</key>
                <string>{128,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealers_texture.png</string>
            <key>size</key>
            <string>{648,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c05975b4bcf794d011ec0b44a474357b$</string>
            <key>textureFileName</key>
            <string>dealers_texture.png</string>
        </dict>
    </dict>
</plist>
