<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dialogs/chat/room_chat_at.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,123},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_at_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,189},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,468},{27,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,43}</string>
			</dict>
			<key>dialogs/chat/room_chat_back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,421},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>dialogs/chat/room_chat_exp.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_exp_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_exp_top_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,111},{36,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,10}</string>
			</dict>
			<key>dialogs/chat/room_chat_exp_top_more_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,111},{36,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,10}</string>
			</dict>
			<key>dialogs/chat/room_chat_fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,427},{62,56}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_fast_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,89},{30,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,2}</string>
			</dict>
			<key>dialogs/chat/room_chat_fast_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,427},{62,56}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,269},{90,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,77}</string>
			</dict>
			<key>dialogs/chat/room_chat_left_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,67},{110,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,20}</string>
			</dict>
			<key>dialogs/chat/room_chat_left_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,93},{20,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,3}</string>
			</dict>
			<key>dialogs/chat/room_chat_left_middle.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,89},{100,20}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,20}</string>
			</dict>
			<key>dialogs/chat/room_chat_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,123},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_record_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,189},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/bg_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{54,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,144}</string>
			</dict>
			<key>dialogs/chat/bg_voice.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,361},{58,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,56}</string>
			</dict>
			<key>dialogs/chat/exp_divide.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,255},{10,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,92}</string>
			</dict>
			<key>dialogs/chat/room_chat_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/room_chat_laba_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>dialogs/chat/slider_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,111},{10,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,54}</string>
			</dict>
			<key>dialogs/chat/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{78,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dialog_room_chat.png</string>
			<key>realTextureFileName</key>
			<string>dialog_room_chat.png</string>
			<key>size</key>
			<string>{278,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>278</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>