<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dialogs/privateroom/bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,93},{30,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,14}</string>
			</dict>
			<key>dialogs/privateroom/btn_chips.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,135},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>dialogs/privateroom/btn_chips_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,135},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>dialogs/privateroom/btn_hua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,355},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>dialogs/privateroom/btn_hua_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,355},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>dialogs/privateroom/quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,353},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>dialogs/privateroom/parting_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,163},{2,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,16}</string>
			</dict>
			<key>dialogs/privateroom/bg_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{91,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,150}</string>
			</dict>
			<key>dialogs/privateroom/blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>dialogs/privateroom/blue_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,123},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>dialogs/privateroom/chips.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>dialogs/privateroom/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,247},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>dialogs/privateroom/green.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>dialogs/privateroom/green_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>dialogs/privateroom/info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{200,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>dialogs/privateroom/join.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>dialogs/privateroom/join_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,135},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>dialogs/privateroom/line_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,125},{80,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,2}</string>
			</dict>
			<key>dialogs/privateroom/line_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,163},{40,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,2}</string>
			</dict>
			<key>dialogs/privateroom/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,313},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,42}</string>
			</dict>
			<key>dialogs/privateroom/more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,125},{36,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,10}</string>
			</dict>
			<key>dialogs/privateroom/owner.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,277},{50,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,34}</string>
			</dict>
			<key>dialogs/privateroom/pro_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,385},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>dialogs/privateroom/pro_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,355},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>dialogs/privateroom/pro_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,355},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>dialogs/privateroom/search.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,253},{108,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,84}</string>
			</dict>
			<key>dialogs/privateroom/search_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,93},{30,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,70}</string>
			</dict>
			<key>dialogs/privateroom/search_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,409},{108,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,84}</string>
			</dict>
			<key>dialogs/privateroom/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,165},{58,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,31}</string>
			</dict>
			<key>dialogs/privateroom/create_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,225},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>dialogs/privateroom/top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,132}</string>
			</dict>
			<key>dialogs/privateroom/btn_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,123},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>dialogs/privateroom/btn_create_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,239},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>dialogs/privateroom/sale_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1},{90,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dialog_texas_private_room.png</string>
			<key>realTextureFileName</key>
			<string>dialog_texas_private_room.png</string>
			<key>size</key>
			<string>{1024,501}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>501</integer>
		</dict>
	</dict>
</plist>