<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dialogs/safe/del_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1},{118,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,72}</string>
			</dict>
			<key>dialogs/safe/del_btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,75},{118,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,72}</string>
			</dict>
			<key>dialogs/safe/input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,149},{32,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,70}</string>
			</dict>
			<key>dialogs/safe/input_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>dialogs/safe/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,149},{2,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,20}</string>
			</dict>
			<key>dialogs/safe/purse_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>
			<key>dialogs/safe/safe_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,136},{130,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>dialogs/safe/title_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,221},{44,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dialog_safe_texture.png</string>
			<key>realTextureFileName</key>
			<string>dialog_safe_texture.png</string>
			<key>size</key>
			<string>{255,263}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>255</integer>
			<key>height</key>
			<integer>263</integer>
		</dict>
	</dict>
</plist>