<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_btn_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,839},{213,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,106}}</string>
                <key>sourceSize</key>
                <string>{213,106}</string>
            </dict>
            <key>expression_btn_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,793},{199,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,119}}</string>
                <key>sourceSize</key>
                <string>{199,119}</string>
            </dict>
            <key>expression_btn_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,484},{229,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,120}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>expression_btn_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{200,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,92}}</string>
                <key>sourceSize</key>
                <string>{200,92}</string>
            </dict>
            <key>expression_btn_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,296},{258,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,109}}</string>
                <key>sourceSize</key>
                <string>{258,109}</string>
            </dict>
            <key>expression_btn_314.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,407},{250,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,94}}</string>
                <key>sourceSize</key>
                <string>{250,94}</string>
            </dict>
            <key>expression_btn_315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{249,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,119}}</string>
                <key>sourceSize</key>
                <string>{249,119}</string>
            </dict>
            <key>expression_btn_316.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,551},{245,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,101}}</string>
                <key>sourceSize</key>
                <string>{245,101}</string>
            </dict>
            <key>expression_btn_317.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,281},{181,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,99}}</string>
                <key>sourceSize</key>
                <string>{181,99}</string>
            </dict>
            <key>expression_btn_318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,110}}</string>
                <key>sourceSize</key>
                <string>{300,110}</string>
            </dict>
            <key>expression_btn_319.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,106},{279,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,105}}</string>
                <key>sourceSize</key>
                <string>{279,105}</string>
            </dict>
            <key>expression_btn_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{255,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,106}}</string>
                <key>sourceSize</key>
                <string>{255,106}</string>
            </dict>
            <key>expression_btn_320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{277,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,128}}</string>
                <key>sourceSize</key>
                <string>{277,128}</string>
            </dict>
            <key>expression_btn_321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{238,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,132}}</string>
                <key>sourceSize</key>
                <string>{238,132}</string>
            </dict>
            <key>expression_btn_322.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,654},{238,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,114}}</string>
                <key>sourceSize</key>
                <string>{238,114}</string>
            </dict>
            <key>expression_btn_323.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{287,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,102}}</string>
                <key>sourceSize</key>
                <string>{287,102}</string>
            </dict>
            <key>expression_btn_324.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,770},{214,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,106}}</string>
                <key>sourceSize</key>
                <string>{214,106}</string>
            </dict>
            <key>expression_btn_325.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,770},{221,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,101}}</string>
                <key>sourceSize</key>
                <string>{221,101}</string>
            </dict>
            <key>expression_btn_326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{246,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,104}}</string>
                <key>sourceSize</key>
                <string>{246,104}</string>
            </dict>
            <key>expression_btn_327.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,714},{236,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,123}}</string>
                <key>sourceSize</key>
                <string>{236,123}</string>
            </dict>
            <key>expression_btn_328.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,433},{249,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,116}}</string>
                <key>sourceSize</key>
                <string>{249,116}</string>
            </dict>
            <key>expression_btn_329.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{288,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,97}}</string>
                <key>sourceSize</key>
                <string>{288,97}</string>
            </dict>
            <key>expression_btn_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,213},{260,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,111}}</string>
                <key>sourceSize</key>
                <string>{260,111}</string>
            </dict>
            <key>expression_btn_330.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,793},{190,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,118}}</string>
                <key>sourceSize</key>
                <string>{190,118}</string>
            </dict>
            <key>expression_btn_331.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{277,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,112}}</string>
                <key>sourceSize</key>
                <string>{277,112}</string>
            </dict>
            <key>expression_btn_332.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,621},{239,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,106}}</string>
                <key>sourceSize</key>
                <string>{239,106}</string>
            </dict>
            <key>expression_btn_333.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,101},{282,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,95}}</string>
                <key>sourceSize</key>
                <string>{282,95}</string>
            </dict>
            <key>expression_btn_334.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,606},{239,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,106}}</string>
                <key>sourceSize</key>
                <string>{239,106}</string>
            </dict>
            <key>expression_btn_335.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,770},{225,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,105}}</string>
                <key>sourceSize</key>
                <string>{225,105}</string>
            </dict>
            <key>expression_btn_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{266,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,78}}</string>
                <key>sourceSize</key>
                <string>{266,78}</string>
            </dict>
            <key>expression_btn_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,503},{248,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,116}}</string>
                <key>sourceSize</key>
                <string>{248,116}</string>
            </dict>
            <key>expression_btn_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,198},{270,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,96}}</string>
                <key>sourceSize</key>
                <string>{270,96}</string>
            </dict>
            <key>expression_btn_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,770},{221,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,103}}</string>
                <key>sourceSize</key>
                <string>{221,103}</string>
            </dict>
            <key>expression_btn_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,382},{207,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,100}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>expression_btn_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,326},{253,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,105}}</string>
                <key>sourceSize</key>
                <string>{253,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expressionsbtns_3.png</string>
            <key>size</key>
            <string>{998,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62013f06bd7366366545b5780c105db2$</string>
            <key>textureFileName</key>
            <string>expressionsbtns_3.png</string>
        </dict>
    </dict>
</plist>
