<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_hddj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,426},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>dealer_hddj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,364},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dealer_hddj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,426},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>dealer_hddj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,425},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>dealer_hddj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,356},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>dealer_hddj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,284},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>dealer_hddj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,354},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>dealer_hddj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,354},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>dealer_hddj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,278}}</string>
                <key>sourceSize</key>
                <string>{354,278}</string>
            </dict>
            <key>hddj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,368},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{64,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,368},{92,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,90},{104,52}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{104,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,144},{104,58}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{104,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,284},{108,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{108,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{104,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{104,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{100,106}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{100,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,208},{102,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{102,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,204},{98,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{98,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,282},{84,116}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{100,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,282},{80,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{80,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,110},{96,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hddj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{106,102}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{106,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>room_add_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,282},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj_texture.png</string>
            <key>size</key>
            <string>{567,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e667e60e9df64fe9db1ea477e522c551$</string>
            <key>textureFileName</key>
            <string>hddj_texture.png</string>
        </dict>
    </dict>
</plist>
