<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>invite_friend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,200}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>invite_friend_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,314},{20,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,68}}</string>
                <key>sourceSize</key>
                <string>{20,68}</string>
            </dict>
            <key>invite_friend_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{20,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,68}}</string>
                <key>sourceSize</key>
                <string>{20,68}</string>
            </dict>
            <key>invite_friend_chip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{71,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,51}}</string>
                <key>sourceSize</key>
                <string>{71,51}</string>
            </dict>
            <key>invite_friend_close_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,253},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>invite_friend_close_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,195},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>invite_friend_fb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,253},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>invite_friend_frame_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{30,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,120}}</string>
                <key>sourceSize</key>
                <string>{30,120}</string>
            </dict>
            <key>invite_friend_frame_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,54},{30,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,120}}</string>
                <key>sourceSize</key>
                <string>{30,120}</string>
            </dict>
            <key>invite_friend_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,214},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>invite_friend_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,110},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>invite_friend_search_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{160,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,54}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>invite_friend_selectall_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>invite_friend_selectall_checkbox_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,44},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{36,33}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>invite_friend_selected_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,137},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>invite_friend_selected_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,79},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>invite_texture.png</string>
            <key>size</key>
            <string>{252,339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4708742e2a7fc8b0f5008390d5c1bc7f$</string>
            <key>textureFileName</key>
            <string>invite_texture.png</string>
        </dict>
    </dict>
</plist>
