<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lang/texas_hall_intermediate_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,418},{233,42}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/dear.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,730},{86,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,73}</string>
			</dict>
			<key>lang/hall_activity_btn_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,641},{68,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,25}</string>
			</dict>
			<key>lang/hall_choose_room_btn_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1},{234,82}}</string>
				<key>offset</key>
				<string>{14,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,90}</string>
			</dict>
			<key>lang/hall_free_chip_btn_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,703},{47,22}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,25}</string>
			</dict>
			<key>lang/hall_match_btn_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1},{218,82}}</string>
				<key>offset</key>
				<string>{12,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,90}</string>
			</dict>
			<key>lang/hall_play_now_btn_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1},{169,48}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,64}</string>
			</dict>
			<key>lang/hall_private_btn_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,736},{210,70}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>lang/login_reward_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,464},{500,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,86}</string>
			</dict>
			<key>lang/MTT.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,462},{195,66}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,72}</string>
			</dict>
			<key>lang/MTT_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,808},{209,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,72}</string>
			</dict>
			<key>lang/register_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,886},{460,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,66}</string>
			</dict>
			<key>lang/room_sitdown_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,730},{51,86}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>lang/SNG.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,238},{197,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,72}</string>
			</dict>
			<key>lang/SNG_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,464},{209,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,72}</string>
			</dict>
			<key>lang/texas_hall_intermediate_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,530},{240,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/texas_hall_primary_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,188},{229,42}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/texas_hall_primary_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,400},{238,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/texas_hall_senior_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,418},{233,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/texas_hall_senior_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,238},{240,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/pri_create_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,882},{284,49}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,58}</string>
			</dict>
			<key>lang/pri_create_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1},{290,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,58}</string>
			</dict>
			<key>lang/pri_list_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,238},{224,45}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,58}</string>
			</dict>
			<key>lang/pri_list_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,538},{238,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,58}</string>
			</dict>
			<key>lang/pri_record_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,594},{258,45}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,58}</string>
			</dict>
			<key>lang/pri_record_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,966},{272,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,58}</string>
			</dict>
			<key>lang/room_allIn.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,524},{118,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>lang/room_call.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,871},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>lang/room_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,783},{86,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>lang/room_fold.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,805},{96,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>lang/room_raise.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,730},{84,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>lang/choose_game_title_omaha.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,663},{228,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,86}</string>
			</dict>
			<key>lang/choose_game_title_texas.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,247},{289,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,86}</string>
			</dict>
			<key>lang/omaha_hall_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,336},{320,80}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,109}</string>
			</dict>
			<key>lang/hall_luckturn_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,703},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,25}</string>
			</dict>
			<key>lang/redblack_hand_card_type.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,61},{74,21}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,28}</string>
			</dict>
			<key>lang/redblack_hand_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,155},{143,29}}</string>
				<key>offset</key>
				<string>{-2,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,115}</string>
			</dict>
			<key>lang/redblack_hand_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,624},{111,32}}</string>
				<key>offset</key>
				<string>{-5,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,115}</string>
			</dict>
			<key>lang/redblack_hand_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,641},{20,35}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,115}</string>
			</dict>
			<key>lang/redblack_hand_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,628},{200,32}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,115}</string>
			</dict>
			<key>lang/redblack_hand_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,695},{42,23}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,115}</string>
			</dict>
			<key>lang/redblack_title_draw.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,580},{129,42}}</string>
				<key>offset</key>
				<string>{-1,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,85}</string>
			</dict>
			<key>lang/redblack_title_gold_elephant.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,662},{115,35}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
			<key>lang/redblack_title_gold_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,699},{54,29}}</string>
				<key>offset</key>
				<string>{3,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,85}</string>
			</dict>
			<key>lang/redblack_title_silver_elephant.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,658},{101,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
			<key>lang/redblack_title_silver_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,699},{54,29}}</string>
				<key>offset</key>
				<string>{1,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,85}</string>
			</dict>
			<key>lang/redblack_win_card_type.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,61},{78,21}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,28}</string>
			</dict>
			<key>lang/redblack_win_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,662},{128,39}}</string>
				<key>offset</key>
				<string>{-3,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,115}</string>
			</dict>
			<key>lang/redblack_win_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,649},{39,35}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,115}</string>
			</dict>
			<key>lang/redblack_win_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,730},{73,81}}</string>
				<key>offset</key>
				<string>{-2,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,115}</string>
			</dict>
			<key>lang/redblack_win_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,612},{96,35}}</string>
				<key>offset</key>
				<string>{-2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,115}</string>
			</dict>
			<key>lang/redblack_win_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,641},{118,91}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,115}</string>
			</dict>
			<key>lang/redblack_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1},{122,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,155}</string>
			</dict>
			<key>lang/redblack_war.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{461,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{461,157}</string>
			</dict>
			<key>lang/pop_title_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,158},{231,78}}</string>
				<key>offset</key>
				<string>{-58,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,96}</string>
			</dict>
			<key>lang/pop_title_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,464},{197,87}}</string>
				<key>offset</key>
				<string>{-72,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,96}</string>
			</dict>
			<key>lang/pop_title_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1},{232,91}}</string>
				<key>offset</key>
				<string>{-42,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,96}</string>
			</dict>
			<key>lang/pop_title_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1},{333,91}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,96}</string>
			</dict>
			<key>lang/pop_title_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,320},{183,78}}</string>
				<key>offset</key>
				<string>{-79,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,96}</string>
			</dict>
			<key>lang/pop_title_ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{244,91}}</string>
				<key>offset</key>
				<string>{-48,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,96}</string>
			</dict>
			<key>lang/pop_title_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,933},{203,79}}</string>
				<key>offset</key>
				<string>{-69,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,96}</string>
			</dict>
			<key>lang/choose_game_title_redblack.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,85},{267,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,66}</string>
			</dict>
			<key>lang/slot_help_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,809},{419,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{419,75}</string>
			</dict>
			<key>lang/redblack_hall_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,61},{65,21}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,25}</string>
			</dict>
			<key>lang/reward_dialog_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,464},{343,99}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,120}</string>
			</dict>
			<key>lang/room_first_pay_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,954},{449,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,66}</string>
			</dict>
			<key>lang/first_pay_price_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,580},{160,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,46}</string>
			</dict>
			<key>lang/hall_quick_play_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,61},{182,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,51}</string>
			</dict>
			<key>lang/choose_game_amaha_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,114},{206,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/choose_game_amaha_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,84},{218,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/choose_game_texas_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,51},{206,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/choose_game_texas_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,288},{218,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/choose_game_allin_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,1},{206,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/choose_game_allin_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,136},{218,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>lang/hall_bind_account_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,208},{120,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,28}</string>
			</dict>
			<key>lang/hall_first_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,577},{107,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,33}</string>
			</dict>
			<key>lang/hall_more_game_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,153},{170,71}}</string>
				<key>offset</key>
				<string>{-20,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>lang/hall_omaha_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,451},{181,71}}</string>
				<key>offset</key>
				<string>{-15,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>lang/hall_ranking_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,340},{135,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,57}</string>
			</dict>
			<key>lang/hall_redblack_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,307},{181,71}}</string>
				<key>offset</key>
				<string>{-15,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>lang/hall_texas_must_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,136},{159,70}}</string>
				<key>offset</key>
				<string>{-26,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>lang/hall_texas_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,736},{202,70}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>lang/hall_tutorial_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,208},{141,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,28}</string>
			</dict>
			<key>lang/hall_invite_friend_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,695},{92,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lang_texture.png</string>
			<key>realTextureFileName</key>
			<string>lang_texture.png</string>
			<key>size</key>
			<string>{1537,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1537</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>