<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>redblack/room/redblack_bet_area.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{976,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{976,417}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,784},{100,106}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,505},{104,109}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1},{100,106}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,109},{100,106}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,300},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_card_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,963},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>redblack/room/redblack_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,751},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>redblack/room/redblack_deal_card_area.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,109},{90,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,116}</string>
			</dict>
			<key>redblack/room/redblack_deal_card_turn.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,422},{169,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,81}</string>
			</dict>
			<key>redblack/room/redblack_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,300},{196,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,204}</string>
			</dict>
			<key>redblack/room/redblack_gold_elephant.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,756},{205,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,123}</string>
			</dict>
			<key>redblack/room/redblack_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>redblack/room/redblack_head_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,501},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>redblack/room/redblack_lose_card_type_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,963},{68,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,58}</string>
			</dict>
			<key>redblack/room/redblack_money_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,979},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>redblack/room/redblack_rule_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,201},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>redblack/room/redblack_rule_btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,607},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>redblack/room/redblack_silver_elephant.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,756},{202,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,121}</string>
			</dict>
			<key>redblack/room/redblack_win_blink_area.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,996},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>redblack/room/redblack_win_card_type_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,960},{68,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,58}</string>
			</dict>
			<key>redblack/room/redblack_win_history_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,979},{14,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,15}</string>
			</dict>
			<key>redblack/room/redblack_win_history_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,979},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>redblack/room/redblack_win_history_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,997},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>redblack/room/redblack_self_head_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,676},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>redblack/room/redblack_tips_big_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,506},{248,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,160}</string>
			</dict>
			<key>redblack/room/redblack_tips_small_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,979},{110,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,44}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,960},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,889},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,950},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,679},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_win_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1},{297,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>
			<key>redblack/room/redblack_all_player_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,433},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>redblack/room/redblack_all_player_btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,699},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>redblack/room/redblack_elephant_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,506},{171,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,105}</string>
			</dict>
			<key>redblack/room/redblack_win_history_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,979},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>redblack/room/redblack_chips_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,979},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,217},{100,106}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,889},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,949},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,889},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_arrow_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,607},{48,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,90}</string>
			</dict>
			<key>redblack/room/redblack_bet_arrow_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,221},{50,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,90}</string>
			</dict>
			<key>redblack/room/redblack_bet_arrow_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,679},{70,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,90}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1},{104,108}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,111},{104,108}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,325},{100,106}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1},{100,106}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,281},{104,108}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_chip_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,391},{104,108}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,949},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,616},{56,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,676},{56,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,616},{56,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,886},{56,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,946},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>redblack/room/redblack_bet_small_chip_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,221},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>redblack_room_texture.png</string>
			<key>realTextureFileName</key>
			<string>redblack_room_texture.png</string>
			<key>size</key>
			<string>{1130,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1130</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>