<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dialogs/setting/drop_down_box_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,163},{110,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,66}</string>
			</dict>
			<key>dialogs/setting/drop_down_box_btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{110,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,66}</string>
			</dict>
			<key>dialogs/setting/drop_down_box_item_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{64,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,2}</string>
			</dict>
			<key>dialogs/setting/drop_down_box_item_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{250,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,10}</string>
			</dict>
			<key>dialogs/setting/drop_down_box_list_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{110,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,160}</string>
			</dict>
			<key>dialogs/setting/max_sound_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,33},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>dialogs/setting/min_sound_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1},{34,30}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>dialogs/setting/setting_progress_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,83},{30,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,14}</string>
			</dict>
			<key>dialogs/setting/setting_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,65},{30,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,16}</string>
			</dict>
			<key>dialogs/setting/setting_slider_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,157},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>dialogs/setting/language_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,113},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,143},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,143},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,187},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,165},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,165},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/setting_item_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1},{140,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,30}</string>
			</dict>
			<key>dialogs/setting/max_sound_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,1},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>dialogs/setting/min_sound_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,73},{68,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>dialogs/setting/language_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,113},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,165},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,113},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,165},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,53},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>dialogs/setting/language_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,105},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>setting_texture.png</string>
			<key>realTextureFileName</key>
			<string>setting_texture.png</string>
			<key>size</key>
			<string>{426,246}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>426</integer>
			<key>height</key>
			<integer>246</integer>
		</dict>
	</dict>
</plist>