<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>store/bg_assets.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,542},{50,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,37}</string>
			</dict>
			<key>store/bg_top_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,786},{100,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>
			<key>store/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,786},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>store/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,850},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>store/channel_appstore.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,561},{223,53}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_e2p.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,786},{145,55}}</string>
				<key>offset</key>
				<string>{-42,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_googleplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,765},{226,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_mol.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,786},{136,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,62}</string>
			</dict>
			<key>store/channel_sms.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,935},{171,53}}</string>
				<key>offset</key>
				<string>{-30,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/line_del.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1},{119,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,5}</string>
			</dict>
			<key>store/line_division.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,55},{30,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,3}</string>
			</dict>
			<key>store/logo_store.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1},{279,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,120}</string>
			</dict>
			<key>store/btn_close_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,852},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>store/btn_record_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,786},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>store/channel_12call.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,331},{240,64}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_bulecoins.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,331},{228,63}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_dtac.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,786},{106,68}}</string>
				<key>offset</key>
				<string>{-61,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_line_pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,935},{185,60}}</string>
				<key>offset</key>
				<string>{-22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_true_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,935},{157,74}}</string>
				<key>offset</key>
				<string>{-37,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,123},{325,94}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,94}</string>
			</dict>
			<key>store/tab3.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1},{328,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,94}</string>
			</dict>
			<key>store/tab_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,390},{100,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,68}</string>
			</dict>
			<key>store/discount_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,935},{144,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,83}</string>
			</dict>
			<key>store/channel_discount_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,786},{73,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,96}</string>
			</dict>
			<key>store/real_address_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,699},{22,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,64}</string>
			</dict>
			<key>store/real_item_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,123},{140,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>
			<key>store/real_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,265},{238,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,66}</string>
			</dict>
			<key>store/real_light_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,265},{230,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,103}</string>
			</dict>
			<key>store/real_address_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,786},{70,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,64}</string>
			</dict>
			<key>store/real_address_btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,852},{70,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,64}</string>
			</dict>
			<key>store/vip_icon_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,594},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>
			<key>store/vip_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1},{10,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,52}</string>
			</dict>
			<key>store/vip_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{250,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,220}</string>
			</dict>
			<key>store/vip_kick_card_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,483},{57,37}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>
			<key>store/real_tab_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,636},{24,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,61}</string>
			</dict>
			<key>store/real_tab_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,852},{70,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,58}</string>
			</dict>
			<key>store/channel_vms.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,711},{222,50}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_vnp.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,483},{226,53}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/channel_vtt.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,786},{104,72}}</string>
				<key>offset</key>
				<string>{-57,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>store/item_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,331},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>
			<key>store/item_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{274,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,159}</string>
			</dict>
			<key>store/btn_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,935},{130,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,80}</string>
			</dict>
			<key>store/btn_buy_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,935},{130,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,80}</string>
			</dict>
			<key>store/icon_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,786},{90,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,106}</string>
			</dict>
			<key>store/chips_icon_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,850},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/chips_icon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,786},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/diamonds_icon_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,884},{60,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/diamonds_icon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,884},{60,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/prop_icon_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,282},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/prop_icon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,336},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/vip_icon_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,162},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/vip_icon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,222},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>store/tab2.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1},{328,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>store_texture.png</string>
			<key>realTextureFileName</key>
			<string>store_texture.png</string>
			<key>size</key>
			<string>{1022,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>