<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>texas/room/dealer_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,377},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>texas/room/forbid.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,109},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/green.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,197},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/green_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,285},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,231},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/purple_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,231},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/purple_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,175},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/raise_ALL_IN.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1},{290,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,116}</string>
			</dict>
			<key>texas/room/raise_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,928},{60,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,150}</string>
			</dict>
			<key>texas/room/raise_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1},{146,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,98}</string>
			</dict>
			<key>texas/room/raise_text_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,928},{290,94}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,116}</string>
			</dict>
			<key>texas/room/raise_track_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{118,576}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,576}</string>
			</dict>
			<key>texas/room/raise_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1},{146,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,98}</string>
			</dict>
			<key>texas/room/red.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,175},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/red_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,103},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/room_chip_even_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,283},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>texas/room/room_chip_even_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,347},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>texas/room/room_chip_even_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,337},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>texas/room/room_chip_odd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,367},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>texas/room/room_chip_odd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,383},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>texas/room/room_chip_odd_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,337},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>texas/room/room_chip_text_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,103},{50,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,34}</string>
			</dict>
			<key>texas/room/room_seat_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,347},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>texas/room/room_table_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1},{126,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,172}</string>
			</dict>
			<key>texas/room/select_icon_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,357},{14,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,60}</string>
			</dict>
			<key>texas/room/select_icon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,283},{42,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,60}</string>
			</dict>
			<key>texas/room/yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,155},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/yellow_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,231},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>texas/room/tips_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,283},{42,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,72}</string>
			</dict>
			<key>texas/room/room_seat_auto_buyin.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,231},{103,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,36}</string>
			</dict>
			<key>texas/room/room_seat_card_type_dark_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,347},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>texas/room/room_seat_card_type_light_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,347},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>texas/room/room_seat_vip_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1},{279,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,228}</string>
			</dict>
			<key>texas/room/super_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,851},{570,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{570,75}</string>
			</dict>
			<key>texas/room/room_share_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,293},{130,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,62}</string>
			</dict>
			<key>texas/room/room_share_btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,489},{130,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,62}</string>
			</dict>
			<key>texas/room/raise_ALL_IN_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,373},{290,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,116}</string>
			</dict>
			<key>texas/room/raise_text_bg_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,231},{290,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,116}</string>
			</dict>
			<key>texas/room/hand_card_noshow.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,231},{80,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>texas/room/hand_card_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,285},{50,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,36}</string>
			</dict>
			<key>texas/room/match_room_info_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1000},{20,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,142}</string>
			</dict>
			<key>texas/room/match_room_info_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,347},{20,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,138}</string>
			</dict>
			<key>texas/room/fast_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,553},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>texas/room/addBuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,149},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>texas/room/addBuy_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,149},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>texas/room/raise_bg_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,579},{270,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,250}</string>
			</dict>
			<key>texas/room/raise_chips.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1},{106,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,44}</string>
			</dict>
			<key>texas/room/raise_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,928},{128,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,98}</string>
			</dict>
			<key>texas/room/card_power_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1010},{171,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,10}</string>
			</dict>
			<key>texas/room/card_power_pro.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,990},{169,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,10}</string>
			</dict>
			<key>texas/room/invite_btn_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,347},{28,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>texas/room/invite_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,155},{30,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,50}</string>
			</dict>
			<key>texas/room/invite_btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,231},{30,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,50}</string>
			</dict>
			<key>texas/room/goldisland_btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,323},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>texas/room/goldisland_btn_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,327},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>texas/room/goldisland_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,357},{64,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,10}</string>
			</dict>
			<key>texas/room/room_seat_card_type_other_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,285},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>texas/room/room_seat_card_type_other_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>texas_room_texture.png</string>
			<key>realTextureFileName</key>
			<string>texas_room_texture.png</string>
			<key>size</key>
			<string>{1021,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>