<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression416_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{151,152}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{151,152}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression416_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,156},{153,150}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{153,150}}</string>
                <key>sourceSize</key>
                <string>{177,180}</string>
            </dict>
            <key>expression416_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,152}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{152,152}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>expression416_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{153,150}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{153,150}}</string>
                <key>sourceSize</key>
                <string>{177,180}</string>
            </dict>
            <key>expression416_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,155},{151,150}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{151,150}}</string>
                <key>sourceSize</key>
                <string>{177,180}</string>
            </dict>
            <key>expression416_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,156},{152,150}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{152,150}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>expression416_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{151,150}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{151,150}}</string>
                <key>sourceSize</key>
                <string>{177,180}</string>
            </dict>
            <key>expression416_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,155},{151,150}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{151,150}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression416_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{151,150}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{151,150}}</string>
                <key>sourceSize</key>
                <string>{177,180}</string>
            </dict>
            <key>expression416_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{152,150}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{152,150}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>expression416_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,155},{151,150}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{151,150}}</string>
                <key>sourceSize</key>
                <string>{177,180}</string>
            </dict>
            <key>expression416_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{151,150}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{151,150}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression416.png</string>
            <key>size</key>
            <string>{922,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ab968b1cad58d69b6666f8f8cf2883$</string>
            <key>textureFileName</key>
            <string>expression416.png</string>
        </dict>
    </dict>
</plist>
