<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression213_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,152}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{112,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{110,154}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,16},{110,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,318},{106,148}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{106,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{112,144}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{112,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,164},{108,148}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{108,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,338},{104,146}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{104,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,152}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{112,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,148},{118,122}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,272},{106,134}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{106,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,380},{110,138}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{110,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{120,146}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{120,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,226},{110,148}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{110,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,160}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,114},{110,152}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{110,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression213_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{120,152}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{120,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression213.png</string>
            <key>size</key>
            <string>{522,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eb5fb545e4a154bef5693d58c31074a$</string>
            <key>textureFileName</key>
            <string>expression213.png</string>
        </dict>
    </dict>
</plist>
