<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression210_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,250},{130,176}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{130,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression210_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,172}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{120,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression210_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,124},{124,168}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{124,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression210_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{130,164}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression210_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{122,170}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{122,170}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression210_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{120,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{120,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression210.png</string>
            <key>size</key>
            <string>{382,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf862efa21c66e133c2cb636ab2c180$</string>
            <key>textureFileName</key>
            <string>expression210.png</string>
        </dict>
    </dict>
</plist>
