<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression414_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,150}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{154,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,154},{154,150}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{154,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,150}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{154,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{154,150}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{154,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,150}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{154,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,154},{152,150}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{152,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{152,150}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{152,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,154},{152,150}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{152,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,154},{150,150}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{150,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{150,150}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{150,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{150,150}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{150,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression414_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,154},{152,150}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{152,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression414.png</string>
            <key>size</key>
            <string>{928,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54df662e601c3823eab45723a62238d8$</string>
            <key>textureFileName</key>
            <string>expression414.png</string>
        </dict>
    </dict>
</plist>
