<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,278},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,272},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,272},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,186},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{90,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,182},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,182},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,278},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,94},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{90,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,92},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,92},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression112_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression112.png</string>
            <key>size</key>
            <string>{368,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9405893d1a899bd0a709714a973261e9$</string>
            <key>textureFileName</key>
            <string>expression112.png</string>
        </dict>
    </dict>
</plist>
