<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression48_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,462},{168,154}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{168,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression48_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,308},{163,152}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{163,152}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression48_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,154},{164,152}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{164,152}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>expression48_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,154},{165,152}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{165,152}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression48_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{167,152}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{167,152}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression48_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,150}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{164,150}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>expression48_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{163,150}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{163,150}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression48_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,308},{162,152}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{162,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression48_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{163,152}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{163,152}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression48_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,462},{166,154}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{166,154}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>expression48_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{167,152}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{167,152}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression48_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{166,150}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{166,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression48.png</string>
            <key>size</key>
            <string>{509,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4521df2abfc49428838de0f765a0fe2e$</string>
            <key>textureFileName</key>
            <string>expression48.png</string>
        </dict>
    </dict>
</plist>
