<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,122}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{176,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,130},{150,126}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{150,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{166,126}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{166,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,362},{114,120}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{114,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{96,122}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,39},{96,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{132,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{132,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{166,120}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{166,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,254},{148,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{148,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,126},{126,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{126,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,258},{102,124}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{102,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression28_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{130,122}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{130,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression28.png</string>
            <key>size</key>
            <string>{480,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece7204ca7aed4e755eaf12b4373b2ca$</string>
            <key>textureFileName</key>
            <string>expression28.png</string>
        </dict>
    </dict>
</plist>
