<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression415_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{164,176}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{164,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{164,176}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{164,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{164,176}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{164,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,176}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{166,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,180},{166,174}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{166,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{168,174}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{168,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,176},{168,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{168,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{168,172}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{168,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,180},{168,172}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{168,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,180},{166,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{166,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,180},{164,174}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{164,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression415_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{162,176}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{162,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression415.png</string>
            <key>size</key>
            <string>{1014,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50b1fb6801ea9cee94996c7551879f83$</string>
            <key>textureFileName</key>
            <string>expression415.png</string>
        </dict>
    </dict>
</plist>
