<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression211_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,176},{132,174}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{132,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{150,174}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{150,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,352},{134,174}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{134,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,176},{132,174}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{132,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,352},{132,170}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{132,170}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{128,174}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{128,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,132},{128,174}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{128,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{128,174}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{128,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,132},{126,174}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{126,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,308},{124,172}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{124,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{144,172}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{144,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression211_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,172}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{152,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression211.png</string>
            <key>size</key>
            <string>{546,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54712fa0163c226be622b97395e093ef$</string>
            <key>textureFileName</key>
            <string>expression211.png</string>
        </dict>
    </dict>
</plist>
