<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression214_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,308},{176,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{176,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression214_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{174,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{174,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression214_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,154},{176,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{176,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression214_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{174,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{174,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression214_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{176,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{176,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression214_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{174,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression214.png</string>
            <key>size</key>
            <string>{462,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02bec5cdbcbbe08db08b7b7345ef503$</string>
            <key>textureFileName</key>
            <string>expression214.png</string>
        </dict>
    </dict>
</plist>
