<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,254},{172,124}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{172,124}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
            <key>expression44_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,128},{172,124}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{172,124}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>expression44_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,254},{165,124}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{165,124}}</string>
                <key>sourceSize</key>
                <string>{173,178}</string>
            </dict>
            <key>expression44_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{172,124}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{172,124}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>expression44_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{172,124}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{172,124}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>expression44_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{165,124}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{165,124}}</string>
                <key>sourceSize</key>
                <string>{173,178}</string>
            </dict>
            <key>expression44_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{172,124}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{172,124}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>expression44_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,124}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{176,124}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
            <key>expression44_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,380},{168,124}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{168,124}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>expression44_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,128},{169,124}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{169,124}}</string>
                <key>sourceSize</key>
                <string>{173,178}</string>
            </dict>
            <key>expression44_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,380},{168,124}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{168,124}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>expression44_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{172,124}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{172,124}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression44.png</string>
            <key>size</key>
            <string>{521,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89aa794b8de3b7b18a878ae1dd83e15a$</string>
            <key>textureFileName</key>
            <string>expression44.png</string>
        </dict>
    </dict>
</plist>
