<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{88,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{88,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,182},{88,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,92},{88,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{88,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,184},{88,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{88,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{88,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{88,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression11.png</string>
            <key>size</key>
            <string>{362,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e543119f0e4f39efd581d3beaae06b4$</string>
            <key>textureFileName</key>
            <string>expression11.png</string>
        </dict>
    </dict>
</plist>
