<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression42_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{165,161}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{165,161}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,495},{167,163}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{167,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,495},{165,163}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{165,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,330},{167,163}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{167,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{167,163}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{167,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{165,163}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{165,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,165},{167,163}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{167,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{167,161}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{167,161}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,330},{165,163}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{165,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{167,163}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{167,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,165},{165,163}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{165,163}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>expression42_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,161}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{165,161}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression42.png</string>
            <key>size</key>
            <string>{507,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82237f6501c84c61b9f50af385e11e8d$</string>
            <key>textureFileName</key>
            <string>expression42.png</string>
        </dict>
    </dict>
</plist>
