<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{94,90}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,190},{92,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,92}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{92,94}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,92}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression17_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,96},{92,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression17_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{94,90}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression17.png</string>
            <key>size</key>
            <string>{284,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a69aaabfb310f8cc4808348d3cc69cfd$</string>
            <key>textureFileName</key>
            <string>expression17.png</string>
        </dict>
    </dict>
</plist>
