<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression46_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{142,168}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{142,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,168}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{146,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,322},{144,158}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{144,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,162},{144,158}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{144,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,172},{144,168}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{144,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{144,158}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{144,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,342},{144,158}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{144,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,172},{146,168}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{146,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,168}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{148,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{148,158}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{148,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,342},{146,158}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression46_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{146,168}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{146,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression46.png</string>
            <key>size</key>
            <string>{592,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec0f2cadae2821d54bb89afc88692cd$</string>
            <key>textureFileName</key>
            <string>expression46.png</string>
        </dict>
    </dict>
</plist>
