<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,182},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expression14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression14.png</string>
            <key>size</key>
            <string>{272,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a36ca84d59b127569339c38cd921b0e$</string>
            <key>textureFileName</key>
            <string>expression14.png</string>
        </dict>
    </dict>
</plist>
