<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression413_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,132},{167,146}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{167,146}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression413_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,128}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,48},{166,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression413_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{164,128}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,48},{164,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression413_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{164,128}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,48},{164,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression413_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,132},{164,144}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{164,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression413_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,132},{165,146}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{165,146}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression413_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,132},{167,140}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{167,140}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression413_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,132},{163,132}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{163,132}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression413_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{167,128}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,48},{167,128}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression413_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{164,128}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,48},{164,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression413_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{163,128}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{163,128}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression413_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{164,128}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{164,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression413.png</string>
            <key>size</key>
            <string>{1004,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2968c0065f813d2e9af4f8f97f60ec9$</string>
            <key>textureFileName</key>
            <string>expression413.png</string>
        </dict>
    </dict>
</plist>
