<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression412_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,322},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,162},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,322},{145,158}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{145,158}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression412_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,322},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,162},{145,158}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{145,158}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression412_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,162},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{145,158}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{145,158}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>expression412_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression412_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,158}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{146,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression412.png</string>
            <key>size</key>
            <string>{593,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff64a7f1bab3908d0d0ca484f65450a0$</string>
            <key>textureFileName</key>
            <string>expression412.png</string>
        </dict>
    </dict>
</plist>
