<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression47_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{166,158}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{166,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{172,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,164},{170,160}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{170,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{168,160}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{168,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,166},{164,158}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{164,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{160,158}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{160,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{158,156}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{158,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,162},{156,156}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{156,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,166},{162,158}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{162,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,164},{166,160}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{166,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{170,160}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{170,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>expression47_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{174,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression47.png</string>
            <key>size</key>
            <string>{1012,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d44bd571656770308f0e8ed1e79f19f$</string>
            <key>textureFileName</key>
            <string>expression47.png</string>
        </dict>
    </dict>
</plist>
