<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang/MTT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,68},{198,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{198,54}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/MTT_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{210,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{210,64}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/SNG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,322},{198,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{198,54}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/SNG_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{210,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{210,64}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>lang/choose_game_allin_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,68},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_allin_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_amaha_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,68},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_amaha_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_texas_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,282},{206,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{206,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_texas_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,226},{218,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/choose_game_title_omaha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,324},{218,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{218,57}}</string>
                <key>sourceSize</key>
                <string>{330,77}</string>
            </dict>
            <key>lang/choose_game_title_redblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,415},{324,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{324,67}}</string>
                <key>sourceSize</key>
                <string>{330,77}</string>
            </dict>
            <key>lang/choose_game_title_texas.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{320,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{320,55}}</string>
                <key>sourceSize</key>
                <string>{330,77}</string>
            </dict>
            <key>lang/dear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,378},{86,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{86,73}</string>
            </dict>
            <key>lang/first_pay_price_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,278},{177,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,42}}</string>
                <key>sourceSize</key>
                <string>{177,42}</string>
            </dict>
            <key>lang/hall_activity_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,441},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>lang/hall_bind_account_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,244},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>lang/hall_choose_room_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,324},{226,58}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{226,58}}</string>
                <key>sourceSize</key>
                <string>{268,90}</string>
            </dict>
            <key>lang/hall_first_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,415},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>lang/hall_free_chip_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,394},{108,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,25}</string>
            </dict>
            <key>lang/hall_invite_friend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,384},{90,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,27}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>lang/hall_luckturn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,384},{88,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,17}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>lang/hall_match_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,2},{228,56}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{228,56}}</string>
                <key>sourceSize</key>
                <string>{268,90}</string>
            </dict>
            <key>lang/hall_more_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,152},{182,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{182,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_omaha_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,367},{118,46}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{118,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_play_now_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,200},{188,40}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{188,40}}</string>
                <key>sourceSize</key>
                <string>{202,64}</string>
            </dict>
            <key>lang/hall_private_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,232},{210,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{210,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_quick_play_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,242},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>lang/hall_ranking_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,400},{76,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,39}}</string>
                <key>sourceSize</key>
                <string>{76,39}</string>
            </dict>
            <key>lang/hall_redblack_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,284},{130,46}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{130,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_texas_must_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,384},{100,46}}</string>
                <key>offset</key>
                <string>{-55,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{100,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_texas_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,230},{198,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{198,46}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>lang/hall_tutorial_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,152},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>lang/login_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{380,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,84}}</string>
                <key>sourceSize</key>
                <string>{380,84}</string>
            </dict>
            <key>lang/omaha_hall_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,324},{274,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,58}}</string>
                <key>sourceSize</key>
                <string>{274,58}</string>
            </dict>
            <key>lang/pop_title_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{228,78}}</string>
                <key>offset</key>
                <string>{-49,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{228,78}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>lang/pop_title_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{222,86}}</string>
                <key>offset</key>
                <string>{-64,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{222,86}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>lang/pop_title_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,383},{150,92}}</string>
                <key>offset</key>
                <string>{-71,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{150,92}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>lang/pop_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,2},{226,86}}</string>
                <key>offset</key>
                <string>{-53,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{226,86}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>lang/pop_title_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,413},{190,74}}</string>
                <key>offset</key>
                <string>{-71,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{190,74}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>lang/pop_title_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,68},{182,82}}</string>
                <key>offset</key>
                <string>{-84,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{182,82}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>lang/pop_title_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{252,80}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{252,80}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>lang/pri_create_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{262,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{262,46}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/pri_create_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,324},{274,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{274,58}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/pri_list_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{278,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{278,46}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/pri_list_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{290,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{290,56}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/pri_record_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{272,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{272,46}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/pri_record_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{284,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{284,56}}</string>
                <key>sourceSize</key>
                <string>{290,58}</string>
            </dict>
            <key>lang/redblack_hall_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,383},{104,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{104,17}}</string>
                <key>sourceSize</key>
                <string>{104,25}</string>
            </dict>
            <key>lang/redblack_hand_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,384},{100,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{158,28}</string>
            </dict>
            <key>lang/redblack_hand_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,384},{100,31}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{100,31}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,68},{78,31}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,25},{78,31}}</string>
                <key>sourceSize</key>
                <string>{158,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,322},{56,31}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{56,31}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{229,31}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{229,31}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/redblack_hand_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,384},{102,31}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{102,31}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>lang/redblack_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{401,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,146}}</string>
                <key>sourceSize</key>
                <string>{401,146}</string>
            </dict>
            <key>lang/redblack_title_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,68},{66,33}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{66,33}}</string>
                <key>sourceSize</key>
                <string>{138,85}</string>
            </dict>
            <key>lang/redblack_title_gold_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,378},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{88,28}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>lang/redblack_title_gold_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,384},{100,31}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>lang/redblack_title_silver_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,294},{114,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{114,28}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>lang/redblack_title_silver_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,384},{100,33}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,33}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>lang/redblack_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{411,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,115}}</string>
                <key>sourceSize</key>
                <string>{411,115}</string>
            </dict>
            <key>lang/redblack_win_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,256},{124,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{124,24}}</string>
                <key>sourceSize</key>
                <string>{176,28}</string>
            </dict>
            <key>lang/redblack_win_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,332},{126,33}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{126,33}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,324},{58,31}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{58,31}}</string>
                <key>sourceSize</key>
                <string>{92,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,383},{94,83}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,367},{84,31}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{84,31}}</string>
                <key>sourceSize</key>
                <string>{142,115}</string>
            </dict>
            <key>lang/redblack_win_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,2},{225,67}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{225,67}}</string>
                <key>sourceSize</key>
                <string>{237,115}</string>
            </dict>
            <key>lang/register_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{314,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,55}}</string>
                <key>sourceSize</key>
                <string>{314,55}</string>
            </dict>
            <key>lang/reward_dialog_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,384},{592,96}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{592,96}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>lang/room_allIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,103},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,322},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,378},{106,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_first_pay_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{469,52}}</string>
                <key>sourceSize</key>
                <string>{597,66}</string>
            </dict>
            <key>lang/room_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,268},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,384},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>lang/room_sitdown_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,324},{58,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{58,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lang/slot_help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{390,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,65}}</string>
                <key>sourceSize</key>
                <string>{390,65}</string>
            </dict>
            <key>lang/texas_hall_intermediate_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,282},{238,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{238,40}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_intermediate_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{240,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,48}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_primary_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,278},{212,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{212,44}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_primary_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{224,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{224,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_senior_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,280},{216,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{216,42}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>lang/texas_hall_senior_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{228,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{228,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang_texture.png</string>
            <key>size</key>
            <string>{2038,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f5fc3f56f0f00ce7d2da3a5645e26e7$</string>
            <key>textureFileName</key>
            <string>lang_texture.png</string>
        </dict>
    </dict>
</plist>
